* {
  margin: 0;
  padding: 0; }

body {
  background-Image: url("../img/clem-onojeghuo-97709-unsplash.jpg");
  background-size: cover; }

h1 {
  background-color: #f9f9f9;
  font-family: Britannic; }

.to-center {
  width: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.main {
  width: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.create {
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%; }

.create-wrp {
  width: 90%; }

a {
  text-decoration: none; }

header {
  text-align: center;
  border-bottom: 1px solid #A0ADAD; }

.bar-wrp {
  display: flex;
  justify-content: center; }

.bar {
  display: flex;
  list-style: none;
  line-height: 40px;
  font-size: 20px;
  background-color: #f9f9f9;
  width: 600px; }
  .bar a {
    color: #000;
    font-family: Britannic; }
  .bar li {
    text-align: center;
    width: 50%;
    cursor: pointer; }
  .bar li:first-of-type {
    border-bottom: 3px solid #E70C2F; }

.options {
  padding-top: 20px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 600px;
  background-color: rgba(50, 50, 50, 0.5);
  padding-bottom: 20px; }

.comb {
  height: 50PX;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  background-color: rgba(50, 50, 50, 0.5); }

.opt-row {
  justify-content: center;
  text-align: center;
  width: 25%;
  background-color: #f9f9f9; }

.opt-head {
  font-family: Britannic; }

.genre {
  border-top: 1px solid #A0ADAD;
  width: 100%; }

.reslt {
  border-top: 1px solid #A0ADAD;
  width: 100%; }

.mood {
  border-top: 1px solid #A0ADAD;
  width: 100%; }

.buttn {
  font-family: Britannic;
  font-size: 20px; }

.find {
  width: 60%; }

.player-head {
  line-height: 30px;
  font-size: 20px;
  width: 600px;
  background-color: #f9f9f9;
  text-align: center;
  border-bottom: 1px solid #A0ADAD;
  font-family: Britannic; }

.player {
  width: 600px;
  background-color: #f9f9f9;
  height: 100%; }

.active {
  display: flex;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px; }

.act-img {
  width: 50px;
  height: 50px;
  background-color: #A3A3A3;
  background-image: url(../img/twisted.jpg);
  background-size: cover; }

.play {
  padding-left: 20px;
  cursor: pointer;
  font-size: 25px;
  line-height: 53px;
  color: #E70C2F; }

.music-stat {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  width: 374px; }

.music-road {
  display: flex;
  height: 3px;
  border-radius: 5px;
  background-color: #ffaFa9;
  width: 100%; }

.music-name {
  font-size: 20px; 
  width:230px;}

.srch {
  width: 100%;
  border: none; }

.search {
  display: flex;
  border: 1px solid #A0ADAD;
  width: 90%;
  width: 90%; }

.search-warp {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 10px;
  height: 20px; }

.search-btn {
  background-image: url(../svg/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  border-left: 1px solid #A0ADAD;
  min-width: 50px;
  CURSOR: POINTER; }

.drop-srch-params {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #A0ADAD;
  min-width: 50px;
  width: 50px;
  text-align: center; }

.drop-srch-params i {
  line-height: 18px;
  CURSOR: POINTER; }

.srch-params {
  display: none;
  text-align: left;
  list-style: none;
  width: 100px;
  top: 1px;
  left: -51px;
  position: relative;
  z-index: 11;
  background-color: #f9f9f9;
  border: 1px solid #A0ADAD;
  border-top: none; }
  .srch-params li {
    padding-left: 22px;
    cursor: pointer; }
  .srch-params li:first-of-type {
    background-color: #E70C2F;
    color: #fff; }

.aud {
  volume: 0.5; }

.music-selection-cont {
  width: 90%; }

.music-selection-list {
  display: flex;
  list-style: none; }
  .music-selection-list li {
    margin-right: 10px;
    line-height: 30px;
    cursor: pointer; }
  .music-selection-list li:first-of-type {
    border-bottom: 3px solid #E70C2F;
    z-index: 10; }

.mus-list {
  position: relative;
  top: -1px;
  width: 90%;
  height: 425px;
  padding-top: 10px;
  border-top: 1px solid #A0ADAD;
  overflow-x: hidden; }

.row {
  display: flex;
  justify-content: space-between; 
  align-items:center;
}

.grow {
  background-color: #E70C2F;
  height: 100%;
  width: 0px; }

.mood {
  height: 200px; }

.mood .to-center {
  padding-top: 15px; }

.genre {
  height: 200px; }

.genre .to-center {
  padding-top: 15px; }

.reslt {
  height: 200px; }

.add i {
  float: right;
  cursor: pointer;
  text-shadow: #A0ADAD 1px 0px, #A0ADAD 0px 1px, #A0ADAD -1px 0px, #A0ADAD 0px -1px;
  color: #f9f9f9; }
.add i:hover {
  color: #E70C2F;
  text-shadow: #E70C2F 1px 0px, #E70C2F 0px 1px, #E70C2F -1px 0px, #E70C2F 0px -1px; }

.motion {
  background-color: #E70C2F;
  height: 7px;
  width: 7px;
  position: relative;
  top: -2px;
  border-radius: 2px;
  cursor: pointer; }

.sh-time {
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid;
  line-height: 20px; }

.road-warp {
  height: 20px; }

.vol-range {
  display: flex;
  height: 3px;
  background-color: #ffaFa9; }

.grow-y {
  height: 100%;
  width: 22px;
  background-color: #E70C2F; }

.motion-y {
  width: 7px;
  height: 7px;
  border-radius: 2px;
  position: relative;
  top: -2px;
  background-color: #E70C2F;
  cursor: pointer; }

.vol-warp {
  width: 100%;
  align-items: flex-end; }

.volume {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 51px;
  margin-bottom: 17px; }
  .volume i {
    cursor: pointer; }

.lister {
  display: flex;
  width: 100%;
  cursor: pointer; }

.lister:hover {
  background-color: rgba(255, 50, 50, 0.5); }

.poster-listed {
  width: 50px;
  height: 50px;
  background-size: cover; }

.text-listed {
  line-height: 50px;
  padding-left: 15px; }

.cont {
  padding-bottom: 5px;
  display: flex; }

.mus-add {
  color: #f9f9f9;
  text-shadow: #E70C2F 1px 0px, #E70C2F 0px 1px, #E70C2F -1px 0px, #E70C2F 0px -1px;
  cursor: pointer;
  min-width: 30px;
  width: 50px;
  text-align: center; }
  .mus-add i {
    line-height: 50px; }

.mus-add:hover {
  color: #E70C2F; }

.final {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 15;
  top: 200px;
  background-color: #f9f9f9;
  width: 200px;
  height: 150px;
  border: 3px solid #E70C2F;
  display: none; }

.final-container {
  display: flex;
  justify-content: space-around;
  width: 80%; }

.durn-time {
  text-align: center;
  cursor: pointer; }

.duration {
  display: flex;
  flex-direction: column; }

.climax {
  display: flex;
  flex-direction: column;
  color: #A0ADAD;
  cursor: pointer;
  width: 48px; }

.climax-time {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 20px; }

.climax-inp {
  display: inline-block;
  border: none;
  height: 100%;
  font-size: 15px;
  background-color: #f9f9f9; }

.fin-btn-wrp {
  padding-top: 20px;
  display: flex;
  justify-content: center; }

.fin-btn {
  font-family: Britannic;
  font-size: 20px; }
.edit{
	background-color:#E70C2F;
	border-radius:5px;
	color:#f9f9f9;
	height:25px;
	padding-left:7px;
	padding-right:7px;
	line-height:25px;
	cursor:pointer;
}
.other-btns{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:90px;
}
.my{
	z-index:10;
}
/*# sourceMappingURL=style.css.map */
