$font-family: Britannic;
$bg-color: #f9f9f9;
$border-style: 3px solid #E70C2F;
$border-btm:1px solid #A0ADAD;
@mixin align-elements{
  align-items: center;
  justify-content: center;}
@mixin flex-column{
	display: flex;
	flex-direction: column;}

*{
	margin:0;
	padding:0;

}
body{
	background-Image:url('../img/clem-onojeghuo-97709-unsplash.jpg');
	background-size:cover;
}
h1 {
	background-color: $bg-color;
	font-family: $font-family;
}
.to-center{
	width:100%;
	align-content: center;
	@include flex-column;
	@include align-elements; 
}
.main{
		width:100%;
	align-content: center;
	@include flex-column;
	@include align-elements; 
}
.create{
	align-content: center;
	@include flex-column;
	@include align-elements; 
	width:60%;
}
.create-wrp{
	width:90%;
}
a{
	text-decoration:none;
}
header {
	text-align:center;
		border-bottom:$border-btm;
}
.bar-wrp{
display:flex;
justify-content:center;

}

.bar{
	display:flex;
	list-style:none;
	line-height:40px;
	font-size:20px;
	background-color:$bg-color;
	width:600px;
	a{
		color:#000;
		font-family: $font-family;
	}
	li {
		text-align: center;
		width:50%;
		cursor:pointer;
	}
	li:first-of-type {
		border-bottom:$border-style;
	}
} 

.options{
	padding-top:20px;
	display:flex;
	align-content:center;
	justify-content:space-around;
	width:600px;
	background-color:rgba(50,50,50,0.5);
	padding-bottom:20px;
}

.comb{
	height:50PX;
	display:flex;
	@include align-elements;
	width:600px;
	background-color:rgba(50,50,50,0.5);
}
.opt-row {
	justify-content:center;
	text-align:center;
	width:25%;
	background-color:$bg-color;
}
.opt-head{
	font-family: $font-family;
}
.genre{
	border-top:$border-btm;
	width:100%;
	
}
.reslt{
	border-top:$border-btm;
	width:100%;
}
.mood{
	border-top:$border-btm;
	width:100%;
}

.buttn{
	font-family: $font-family;
	font-size:20px;
}
.find{
	width:60%;
}
.player-head{
	line-height:30px;
	font-size:20px;
	width:600px;
	background-color:$bg-color;
	text-align:center;
	border-bottom:$border-btm;
	font-family: $font-family;
}

.player{
	width:600px;
	background-color:$bg-color;
	height:100%;
	
}
.active{
	display:flex;
	line-height:50px;
	padding-left:20px;
	padding-right:20px;
	padding-top:15px;

}
.act-img{
	width:50px;
	height:50px;
	background-color:#A3A3A3;
	background-image:url(../img/twisted.jpg);
	background-size:cover;
}
.play{
padding-left:20px;
cursor:pointer;
font-size:25px;
line-height:53px;
color:#E70C2F;
}
.music-stat{
	@include flex-column;
	justify-content:space-around;
	padding-left:20px;
	width:374px;
}
.music-road{
	display:flex;
	height:3px;
	border-radius:5px;
	background-color:#ffaFa9;
	width:100%;
}
.music-name{
		font-size:20px;
}
.srch{
	width:100%;
	border:none;
	}
.search{
	display:flex;
	border:$border-btm;
	width:90%;
	width:90%;
}
.search-warp{
	display:flex;
	width:100%;
	justify-content:center;
	padding-bottom:10px;
	height:20px;
}
.search-btn{
	background-image:url(../svg/search.svg);
	background-position:center;
	background-repeat:no-repeat;
	background-color:#fff;
	border:none;
	border-left:$border-btm;
	min-width:50px;
	CURSOR:POINTER;
}
.drop-srch-params{
	@include flex-column;
	border-left: $border-btm;
	min-width:50px;
	width:50px;
	text-align:center;
}
.drop-srch-params{
		i{
			line-height:18px;
			CURSOR:POINTER;
		}
} 
.srch-params{
	display:none;
	text-align:left;
	list-style:none;
	width:100px;
	top:1px;
	left:-51px;
	position:relative;
	z-index:11;
	background-color:$bg-color;
	border:$border-btm;
	border-top:none;
	li{
		padding-left:22px;
		cursor:pointer;
	}
	li:first-of-type{
		background-color:#E70C2F;
		color:#fff;
	}
} 

.aud{
	volume:0.5;
}
.music-selection-cont{
	width:90%;
}
.music-selection-list{
	display:flex;
	list-style:none;
	li{
		margin-right:10px;
		line-height:30px;
		cursor:pointer;
	}
	li:first-of-type{
		border-bottom:$border-style;
		z-index:10;
	}
} 
 
.mus-list{
	position:relative;
	top:-1px;
	width:90%;
	height:425px;
	padding-top:10px;
	border-top:$border-btm;
	overflow-x:hidden;
}
.row{
	display:flex;
	justify-content:space-between;
}
.grow{
	background-color:#E70C2F;
	height:100%;
	width:0px;
}
.mood{
	height:200px;
}
.mood .to-center{
	padding-top:15px;;

}
.genre{
	height:200px;
}
.genre .to-center{
	padding-top:15px;;

}
.reslt{
	height:200px;
}
.add{
	i{
		float:right;
		cursor:pointer;
		text-shadow:#A0ADAD 1px 0px, #A0ADAD 0px 1px ,#A0ADAD -1px 0px,#A0ADAD 0px -1px ;
		color:$bg-color;
	}
	i:hover{
		color:#E70C2F;
		text-shadow:#E70C2F 1px 0px, #E70C2F 0px 1px ,#E70C2F -1px 0px,#E70C2F 0px -1px ;
	}
} 
.motion{
	background-color:#E70C2F;
	height:7px;
	width:7px;
	position:relative;
	top:-2px;
	border-radius:2px;
	cursor:pointer;
}
.sh-time{
	position:absolute;
	display:none;
	background-color:#fff;
	border:1px solid;
	line-height:20px;
}
.road-warp{
	height:20px;
}
.vol-range{
display:flex;
height:3px;
background-color:#ffaFa9;

}
.grow-y{
	height:100%;
    width:22px;
	background-color:#E70C2F;
}
.motion-y{
	width:7px;
	height:7px;
	border-radius:2px;
	position:relative;
	top:-2px;
	background-color:#E70C2F;
	cursor:pointer;
}
.vol-warp{
	
	width:100%;
	align-items:flex-end;
}
.volume{
	padding-left:10px;
	@include flex-column;
	justify-content:flex-end;
	align-items:center;
	width:51px;
	margin-bottom:17px;
	i{
		cursor:pointer;
	}
}
.lister{
	display:flex;
	width:100%;
	cursor:pointer;
}
.lister:hover{
background-color: rgba(255, 50, 50, 0.5);
}
.poster-listed{
	width:50px;
	height:50px;
	background-size: cover;
}
.text-listed{
	line-height:50px;
	padding-left:15px;
}
.cont{
	padding-bottom:5px;
	display:flex;
}
.mus-add{
	color:$bg-color;
	text-shadow:#E70C2F 1px 0px, #E70C2F 0px 1px ,#E70C2F -1px 0px,#E70C2F 0px -1px ;
	cursor:pointer;
	min-width:30px;
	width:50px;
	text-align:center;
	i{
		line-height:50px;
	}
}
.mus-add:hover{
	color:#E70C2F;

}
.final{
	@include align-elements;
	@include flex-column;
	position:absolute;
	z-index:15;
	top:200px;
	background-color:$bg-color;
	width:200px;
	height:150px;
	border:$border-style;
	display:none;
}
.final-container{
	display:flex;
	justify-content:space-around;
	width:80%;
	
}
.durn-time{
	text-align:center;
	cursor:pointer;
}
.duration{
	@include flex-column;
}
.climax{
	@include flex-column;
	color:#A0ADAD;
	cursor:pointer;
	width:48px;
}

.climax-time{
	text-align:center;
	display:flex;
	justify-content:center;
	height:20px;
}
.climax-inp{
	display:inline-block;
	border:none;
	height:100%;
	font-size:15px;
	background-color:$bg-color;
}
.fin-btn-wrp{
	padding-top:20px;
	display:flex;
	justify-content:center;
}
.fin-btn{
	font-family: $font-family;
	font-size:20px;
}
