<!DOCTYPE html>
<head>
	<title>Music</title>
	<link rel="stylesheet" href=css/style.css>
	<link rel="stylesheet" href=css/font-awesome/css/fontawesome-all.min.css>
	<meta charset="UTF-8">
	<script src=json/mood.json></script>
	<script src=json/genre.json></script>
	<script src=json/mus-list.json></script>
	<script src=json/mus-tag.json></script>
	<script src=json/instr.json></script>
	<script src=json/tempo.json></script>	
	<script src=json/user.json></script>
</head>
<body onload="schClear(); load(); genre(); mood()">
	<header>
		<h1>Create your own music!</h1>
	</header>
	<div class="main">
		<div class="create">
			<div class="create-wrp">
				<div class="bar-wrp">
					<ul class="bar">
                       <li onclick="GenMood()"> <a href ="#tab1">Genre&Mood</a></li>
						<li onclick="InstrTemp();"><a href ="#tab2">Instruments&Tempo</a></li>
					</ul>
				</div>
				<div class="to-center">
					<div class="options">
						<div class="opt-row">
							<span class="opt-head gena">Genre</span>
							<div class="genre instrum">
							</div>
						</div>
						<div class="opt-row">
							<span class="opt-head">Your choice</span>
							<div class="reslt">
								<div class="reslt-genre">
									Genre:
								</div>
								<div class="reslt-mood">
									Mood:
								</div>
								<div class="reslt-instr">
									Instruments:
								</div>
								<div class="reslt-tempo">
									Tempo:
								</div>
							</div>
						</div>
						<div  class="opt-row">
							<span class="opt-head moda">Mood</span>
							<div class="mood tempo">
							</div>
						</div>
					</div>
					<div class="comb">
						<button class="buttn" onclick="OpenFinal()">Combine</button>
					</div>
				</div>
			</div>
		</div>
		<div class="to-center">
			<div class="find">
				<div class="to-center">
					<span class="player-head">Find the music you like!</span>
					<div class="player">
						<div class="active">
							<div class="act-img">
							</div>
							<div class="play">
									<i onclick="play();" class="fas fa-play-circle"></i>
								<!--<i class="fas fa-pause-circle"></i>-->
							</div>
							<div class="music-stat">
									<div class="row">
										<div class="music-name">
											Two Feet - Twisted
										</div>
										<div class="other-btns">
											<span class="mus-add">
												<i class="fas fa-plus"></i>
											</span>
											<span class="edit">
												Edit
											</span>
										</div>
										<div class="timer">0:00</div>
									</div>
									<span class="sh-time"></span>
									<div class="road-warp">
										<div class="music-road">
											<div class="grow"></div>
											<div class="motion"></div>
										</div>
									</div>
							</div>
								<audio  class="aud" src=music/two_feet-twisted.m4a></audio>
							<div class="volume">
								<div class="vol-warp">
									<div class="vol-range">	
										<div class="grow-y"></div>
										<div class="motion-y"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="to-center">
							<div class="search-warp">
								<form class="search" onsubmit="Search();" action="javascript:void(0);">
									<input class="srch" type="text"  placeholder="Search"/>
									<input type="button" onclick="Search();" class="search-btn"/>
									<div class="drop-srch-params">
										<i class="fas fa-align-justify" onclick="Drop();"></i>
										<ul class="srch-params"/>
											<li>By name</li>
											<li>By group</li>
											<li>By genre</li>
										</ul>
									</div>
								</form>
							</div>
							<div class="music-selection-cont">
								<ul class="music-selection-list">
									<li class="all" onclick="load()">All music</li>
									<li class="my" onclick="loadMy()">My music</li>
								</ul>
							</div>
						</div>
						<div class="to-center">
							<div class="mus-list">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="final">
			<div class="final-container">
				<div class="duration">
					<span class="durn">Duration</span>
					<span class="durn-time"><span>0</span>:<span>00</span></span>
				</div>
				<div class="climax">
					<span class="clim">Climax</span>
					<span class="climax-time"><span>0</span>:<span>00</span></span>
				</div>
			</div>
			<div  class="fin-btn-wrp">
				<button class="fin-btn"  onclick="OpenFinal()">Finish</button>
			</div>
		</div>
	</div>

	<script src=js/player.js></script>
</body>