*{
	margin:0;
	padding:0;
}
body{
	background-Image:url('../img/clem-onojeghuo-97709-unsplash.jpg');
	background-size:cover;
}
h1 {
	background-color:#f9f9f9;
}
.to-center{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	align-content: center; 
    justify-content: center; 
}
.create{
	display:flex;
	flex-direction:column;
	align-items:center;
	align-content: center; 
    justify-content: center; 
}
a{
	text-decoration:none;
}
header {
	text-align:center;
}
.bar{
	padding-top:20px;
	display:flex;
	list-style:none;
	width:50%;
}
.bar a{
	color:#000;
}
.bar li {
	text-align: center;
	width:33%;
}
.options{
	padding-top:20px;
	display:flex;
	align-content:center;
	justify-content:space-between;
	width:50%;
}
.opt-row {
	justify-content:center;
	text-align:center;
	width:25%;
}
.genre{
	border:1px solid;
	width:100%;
}
.reslt{
	border:1px solid;
	width:100%;
}
.mood{
	border:1px solid;
	width:100%;
}
.comb{
 padding-top:20px;
}
.find{
	padding-top:20px;
	width:60%;
}


.player{
	width:600px;
	background-color:#f9f9f9;
	height:100%;
	
}
.active{
	display:flex;
	line-height:50px;
	padding-left:20px;
	padding-right:20px;
	padding-top:15px;

}
.act-img{
	width:50px;
	height:50px;
	background-color:#A3A3A3;
	background-image:url(../img/twisted.jpg);
	background-size:cover;
}
.play{
padding-left:20px;
cursor:pointer;
font-size:25px;
line-height:53px;
color:#E70C2F;
}
.music-stat{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	padding-left:20px;
	width:374px;
}
.music-road{
	display:flex;
	height:3px;
	border-radius:5px;
	background-color:#ffaFa9;
	width:100%;
}
.music-name{
		font-size:20px;
}
.srch{
	width:100%;
	border:none;
	}
.search{
	display:flex;
	width:90%;
	border:1px solid #A0ADAD;
}
.search-warp{
	display:flex;
	padding-bottom:20px;
	width:100%;
	justify-content:center;
}
.search-btn{
	background-image:url(../svg/search.svg);
	background-position:center;
	background-repeat:no-repeat;
	background-color:#fff;
	border:none;
	border-left:1px solid #A0ADAD;
	width:50px;
}
.aud{
	volume:0.5;
}
.mus-list{
	width:90%;
	height:425px;
	padding-top:10px;
	border-top:1px solid #A0ADAD;
	overflow-x:hidden;
}
.row{
	display:flex;
	justify-content:space-between;
}
.grow{
	background-color:#E70C2F;
	height:100%;
	width:0px;
}
.mood{
	height:200px;
}
.mood .to-center{
	padding-top:15px;;

}
.genre{
	height:200px;
}
.genre .to-center{
	padding-top:15px;;

}
.reslt{
	height:200px;
}
.add i{
float:right;
cursor:pointer;
}
.motion{
	background-color:#E70C2F;
	height:7px;
	width:7px;
	position:relative;
	top:-2px;
	border-radius:2px;
	cursor:pointer;
}
.sh-time{
	position:absolute;
	display:none;
	background-color:#fff;
	border:1px solid;
	line-height:20px;
}
.road-warp{
	height:20px;
}
.vol-range{
display:flex;
height:3px;
background-color:#ffaFa9;

}
.grow-y{
	height:100%;
    width:22px;
	background-color:#E70C2F;
}
.motion-y{
	width:7px;
	height:7px;
	border-radius:2px;
	position:relative;
	top:-2px;
	background-color:#E70C2F;
	cursor:pointer;
}
.vol-warp{
	
	width:100%;
	align-items:flex-end;
}
.volume{
	padding-left:10px;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:center;
	width:51px;
	margin-bottom:17px;
}
.volume i{
	cursor:pointer;
}
.lister{
	display:flex;
	cursor:pointer;
}
.lister:hover{
background-color: rgba(255, 50, 50, 0.5);
}
.poster-listed{
	width:50px;
	height:50px;
	background-size: cover;
}
.text-listed{
	line-height:50px;
	padding-left:15px;
}
.cont{
	padding-bottom:5px;
}